* {
    font-size: 18px
}

h2 {
    font-size: 26px
}

.post {
    margin: 20px;
}

.changes {
    margin: 0px 0px 0px 30px;
}

.pagination {
    display: flex;
}

a {
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: black;
    border: black solid 1px;
    font-size: 25px;
    text-decoration: none;
    height: 50px;
    width: 30px;
    border-radius: 10px;
}