/*Шрифты*/
  fontsStandart 	     = 'ProximaNova'
  fontsStandartLight 	 = 'ProximaNovaLight'
  fontsStandartThin      = 'ProximaNovaTThin'
  fontsStandartExtrabld  = 'ProximaNovaExtrabld'
  fontsStandartSemibold  = 'ProximaNovaSemibold'

/*Базовые цвета*/
  colorText 		 	 = #545454
  colorTextGrey          = #7a7a7a
  colorItemCaption 		 = #303030
  colorTextBlack 		 = #000000
  whiteColorText         = #ffffff
  blackBg                = #000000
  whiteBg                = #ffffff
  greyBg                 = #f9f9f9
  borderColorItem        = rgb(241, 241, 241)
  borderColor            = rgb(172, 172, 172)
  colorGrey              = rgb(130, 130, 130)
  colorOrange            = rgb(255, 124, 0)
  colorShadow            = #ff7c00
  colorGradient          = #552a98, #ff7c00
  colorNumberSlide       = #f7f7f7
  colorSubscribeBg       = #161616

/*Базовые */
  standartCaption        = 'h2'
  standartParagraph      = 'p'
  inputTextStandart      = 'input[type=text]'
  inputButtonStandart    = 'input[type=submit]'

/*Базовые классы*/
  container              = '.container'
  section                = '.s-section'
  blockFlex 			 = '.block-flex'
  iconStandart           = '.icon'
  standartButton         = '.button-standart'
  standartButtonVolume   = '.button-standart.volume'

/*Классы для секций*/
  header                 = '.header'
  advantages             = '.advantages'
  servicesList           = '.servicesList'
  blockSlider            = '.slider'
  blockForm              = '.block--form'
  blockPrice             = '.price'
  blockReviews           = '.reviews'
  blockAuto              = '.auto'
  footer                 = '.footer'
  blockStar              = '.star'
  blockPopUp             = '.pop-up'
  sectionMenu            = '.sectionMenu'

  *
    box-sizing border-box
    outline 0

  body
    font-family fontsStandart
    font-size 16px
    color colorText
    line-height 1.5

  img
    max-width 100%

  h1
    font-weight bold
    margin 0
    padding 0
    font-size 48px
    line-height 1.1

  {standartCaption}
    font-family fontsStandartExtrabld
    font-size 30px
    color colorTextBlack
    line-height 1.6
    text-transform uppercase
    text-align center
    margin 0 auto 40px
    padding 0 0 5px
    position relative
    &:before
      content ''
      position absolute
      display block
      background-color rgba(blackBg, 0.1)
      width 49px
      height 3px
      left 50%
      bottom 0
      -ms-transform translateX(-50%)
      -webkit-transform translateX(-50%)
      transform translateX(-50%)

  {standartParagraph}
    margin 0 0 15px
    padding 0
    font-size 16px
    line-height 1.5

  {inputTextStandart}
    border none
    background-color whiteBg
    font-size 16px
    font-family fontsStandartLight
    color colorItemCaption
    padding 0 25px
    margin 0
    min-height 54px

  {inputButtonStandart}
    min-height 54px
    background colorOrange
    border 2px solid whiteBg
    padding 0 10px
    text-align center
    color whiteColorText
    text-transform uppercase
    font-size 14px
    cursor pointer

  {standartTransition}
    -ms-transition 300ms
    -webkit-transition: 300ms
    transition 300ms

  {blockFlex}
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap
    -webkit-box-align center
    -webkit-align-items center
    -ms-flex-align center
    align-items center

  {blockFlexStandart}
    @extend {blockFlex}
    -webkit-box-align stretch
    -webkit-align-items stretch
    -ms-flex-align stretch
    align-items stretch

  .b-flex
    @extend {blockFlex}

  .b-flexStandart
    @extend {blockFlexStandart}

  {iconSettings}
    background-position center
    -webkit-background-size contain
    background-size contain
    background-repeat no-repeat

  {iconStandart}
    @extend {iconSettings}
    display block
    width 17px
    height 17px
    position absolute
    top 50%
    left 0
    -ms-transform translateY(-50%)
    -webkit-transform translateY(-50%)
    transform translateY(-50%)

  {container}
    max-width 1220px
    padding 0 20px
    margin 0 auto
    width 100%

  button,
  a
    background none
    border none
    text-decoration none
    outline none
    cursor pointer

  .icon-price
    background-image url(../img/icon-price.svg)
  .icon-help
    background-image url(../img/icon-help.svg)
  .icon-quality
    background-image url(../img/icon-quality.svg)

  {section}
    position relative
    padding 80px 0 90px
    &.section-footer
      padding-bottom 0
    &.section-orange
      background-color colorOrange
      padding 55px 0 60px
      {standartCaption}
        margin-bottom 15px
    &.section-black
      background-color blackBg
      color whiteColorText
      z-index 20
      {standartCaption}
        color whiteColorText
        &:before
          background rgba(whiteColorText, 0.1)
    &.section-white
      background-color whiteBg
      color colorText
      z-index 10
    &.section-grey
      background-color greyBg
    &.section-gradient
      background whiteBg
      background -ms-linear-gradient(180deg, rgba(blackBg,1) 50%, rgba(whiteBg,1) 50%)
      background -webkit-linear-gradient(180deg, rgba(blackBg,1) 50%, rgba(whiteBg,1) 50%)
      background linear-gradient(180deg, rgba(blackBg,1) 50%, rgba(whiteBg,1) 50%)
      margin -1px 0
      padding 0
    &.active-menu
      z-index 60

  .phone--info
    .phone
      padding-left 27px
      display block
      position relative
      color whiteColorText
      font-family fontsStandartLight
      &:before
        @extend {iconStandart}
        content ""
        background-image url(../img/phone-icon.svg)
      span
        font-family fontsStandart
        font-weight bold
        font-size 23px
    .time
      display block
      font-size 14px
      color rgba(whiteColorText, 0.2)

  {header}
    padding 28px 0 10px
    width 100%
    &--mobileButton
      display none
      width 40px
      height 30px
      position relative
      cursor pointer
      .line
        position absolute
        top 50%
        -ms-transform translateY(-50%)
        -webkit-transform translateY(-50%)
        transform translateY(-50%)
        left 0
        right 0
        height 4px
        background whiteBg
        &:before,
        &:after
          content ''
          position absolute
          top 0
          left 0
          right 0
          background whiteBg
          height 4px
          -ms-transform translateY(-13px)
          -webkit-transform translateY(-13px)
          transform translateY(-13px)
        &:after
          -ms-transform translateY(13px)
          -webkit-transform translateY(13px)
          transform translateY(13px)
    .logo
      width 129px
    &--wrap
      @extend {blockFlex}
      justify-content space-between
      -webkit-flex-wrap nowrap
      -ms-flex-wrap nowrap
      flex-wrap nowrap
      &-info
        @extend {blockFlexStandart}
        width calc(100% - 129px)
        justify-content flex-end
        padding-left 20px
        .close
          @extend {iconSettings}
          display none
          position absolute
          top 10px
          right 10px
          width 25px
          height 25px
          padding 0
          overflow hidden
          background-image url(../img/close-burger.png)
        &.active
          position fixed
          width 100vw
          height 100vh
          top 0
          left 0
          background blackBg
          z-index 150
    &--menuList
      @extend {blockFlex}
      .item
        color rgba(whiteColorText, 0.4)
        margin-right 50px
        font-family fontsStandartLight
        font-size 16px
    &--infoWrap
      @extend {blockFlex}
      justify-content flex-end
    .phone--info
      margin-right 40px

  .section--index
    @extend {blockFlex}
    padding 0
    -webkit-box-align flex-start
    -webkit-align-items flex-start
    -ms-flex-align flex-start
    align-items flex-start
    height 100vh
    background-image: url(../img/image-bg.png);
    background-repeat no-repeat
    background-position 50% 38%
    text-align center
    {header}
      width 100%
      -ms-align-self flex-start
      -webkit-align-self flex-start
      align-self flex-start
    &Content
      width 100%
      margin-top 200px
      margin-bottom 40px
      -ms-align-self center
      -webkit-align-self center
      align-self center
      {standartButtonVolume}
        margin-top 30px
    &Footer
      width 100%
      -ms-align-self flex-end
      -webkit-align-self flex-end
      align-self flex-end
      padding-bottom 80px
    .region
      font-size 20px
      font-family fontsStandartLight
      position relative
      color colorGrey
      line-height 2.4
      padding-left 25px
      &:before
        @extend {iconStandart}
        content ""
        width 14px
        height 16px
        background-image: url(../img/map.svg)

  {standartButton}
    @extend {blockFlex}
    @extend {standartTransition}
    justify-content center
    color whiteColorText
    border 2px solid borderColor
    text-transform uppercase
    padding 0 15px
    height 49px
    font-size 14px
    &:hover
      -ms-box-shadow 0 5px 20px rgba(colorShadow, 0.2)
      -webkit-box-shadow 0 5px 20px rgba(colorShadow, 0.2)
      box-shadow 0 5px 20px rgba(colorShadow, 0.2)
      border-color colorOrange

  {standartButtonVolume}
    @extend {standartButton}
    background-color colorOrange
    padding 0 10px
    height 53px
    border none
    max-width 250px
    margin 0 auto
    &.button-hidden
      display none
      &.active
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
    &.button-more
      padding 0 50px
      position relative
      &:before
        @extend {iconSettings}
        content ''
        position absolute
        top 50%
        -ms-transform translateY(-50%) rotate(0deg)
        -webkit-transform translateY(-50%) rotate(0deg)
        transform translateY(-50%) rotate(0deg)
        background-image url(../img/check-mark.svg)
        width 17px
        height 10px
        right 30px
      &.active
        display none

  {advantages}
    @extend {blockFlexStandart}
    justify-content space-between
    padding 0 110px
    position relative
    &:before
      content ""
      position absolute
      top 26px
      left 0
      width 100%
      z-index 5
      height 1px
      background -ms-linear-gradient(90deg, rgba(whiteBg, 0.1), rgba(whiteBg, 0.3), rgba(whiteBg, 0.1))
      background -webkit-linear-gradient(90deg, rgba(whiteBg, 0.1), rgba(whiteBg, 0.3), rgba(whiteBg, 0.1))
      background linear-gradient(90deg, rgba(whiteBg, 0.1), rgba(whiteBg, 0.3), rgba(whiteBg, 0.1))
    &--item
      position relative
      z-index 10
      max-width 180px
    &--icon
      @extend {iconSettings}
      width 50px
      height 50px
      border-radius 50%
      margin 0 auto 15px
      background-color whiteBg
      background-size 20px
    &--text
      font-size 16px
      color whiteColorText
      font-family fontsStandartLight
      line-height 1.5

  {servicesList}
    @extend {blockFlexStandart}
    margin-bottom 20px
    &--item
      @extend {standartTransition}
      width 32%
      overflow hidden
      margin-bottom 20px
      position relative
      padding 2px
      color colorText
      &:nth-child(3n+2)
        margin-right 2%
        margin-left 2%
      &:before
        content ""
        position absolute
        display block
        top 0
        left 0
        bottom 0
        right 0
        background -ms-linear-gradient(90deg, borderColorItem, borderColorItem)
        background -webkit-linear-gradient(90deg, borderColorItem, borderColorItem)
        background linear-gradient(90deg, borderColorItem, borderColorItem)
      &:before,
      .content,
      .content--wrapp,
      .content--hidden,
      .b-icon
        @extend {standartTransition}
      .b-icon
        width 60px
        height 60px
        img
          width 100%
      {standartParagraph}
        margin 0
      .content--wrapp
        position relative
        color colorText
        z-index 10
        background-color whiteBg
        padding 45px 40px 50px 40px
        height 100%
      .caption
        color colorItemCaption
        margin 25px 0 10px
        font-weight bold
        font-size 18px
        text-transform uppercase
      .content--hidden
        opacity 0
        position absolute
        left 0
        bottom 0
        padding 34px 0
        left 39px
        right 39px
        .text
          text-transform uppercase
          line-height 1.714
          color colorOrange
          position relative
          z-index 2
        .arrows
          position absolute
          z-index 1
          right 40px
          top 50%
          -ms-transform translateY(-50%)
          -webkit-transform translateY(-50%)
          transform translateY(-50%)
        &:before
          content ''
          position absolute
          top 0
          left 0
          right 0
          height 1px
          background rgb(239, 239, 239)
      &:hover
        padding 3px
        .b-icon
          opacity 0
        .content
          -ms-transform translateY(-90px)
          -webkit-transform translateY(-90px)
          transform translateY(-90px)
          &--hidden
            opacity 1
          &--wrapp
            padding 44px 39px 49px 39px
        &:before
          background -ms-linear-gradient(125deg, colorGradient)
          background -webkit-linear-gradient(125deg, colorGradient)
          background linear-gradient(125deg, colorGradient)

  {blockSlider}
    &--wrapp
      max-width 1920px
      padding 0 50px
      .slick-dots
        bottom -75px
        li
          width 26px
          height 26px
          margin 0 1px
          button
            width 100%
            height 100%
            border 2px solid rgba(whiteBg, 0)
            border-radius 50%
            padding 0
            &:before
              background rgba(whiteBg, 0.2)
              position absolute
              border-radius 50%
              width 6px
              height 6px
              top 50%
              left 50%
              -ms-transform translate(-50%, -50%)
              -webkit-transform translate(-50%, -50%)
              transform translate(-50%, -50%)
              opacity 1
          &.slick-active
            button
              border-color rgba(whiteBg, 0.07)
              &:before
                background whiteBg
    &--item
      @extend {iconSettings}
      width 580px
      min-height 310px
      margin 0 20px
      opacity 0.4
      padding 20px 40px 30px
      position relative
      overflow hidden
      &.slick-slide
        @extend {blockFlex}
        -webkit-box-align flex-end
        -webkit-align-items flex-end
        -ms-flex-align flex-end
        align-items flex-end
        background-size cover
        background-position left top
      .number
        font-size 250px
        font-family fontsStandartThin
        position absolute
        top 10px
        left -45px
        color rgba(colorNumberSlide, 0.25)
        line-height 1
      .caption
        font-weight bold
        font-size 18px
        color whiteColorText
        margin-bottom 20px
        padding-bottom 10px
        position relative
        z-index 2
        &:before
          content ''
          position absolute
          bottom 0
          left 0
          width 44px
          height 3px
          background colorOrange
      .text
        font-size 16px
        color colorTextGrey
        font-family fontsStandartLight
      &.slick-current
        opacity 1
    &--block
      &.slick-slider
        margin 0 0 80px
      .slick-arrow
        @extend {iconSettings}
        width 115px
        height 27px
        background-image url(../img/slider--arrows.svg)
        z-index 5
        left 50%
        right auto
        -webkit-transform translate(-50%, -50%)
        -ms-transform translate(-50%, -50%)
        transform translate(-50%, -50%)
        margin-left -395px
        &.slick-next
          background-image url(../img/slider--arrows-active.svg)
          margin-left 395px
        &.slick-prev
          opacity 0.4
          &:hover
            background-image url(../img/slider--arrows-leftOrange.svg)
            opacity 1
        &:before
          display none

  {blockForm}
    background colorOrange
    .form--wrapp
      @extend {blockFlexStandart}
      justify-content space-between
      margin-bottom 15px
      {inputTextStandart}
        width 35%
      {inputButtonStandart}
        width 24%
    {standartCaption}
      font-family fontsStandart
      font-weight bold
      color whiteColorText
      margin-bottom 25px
      &:before
        display none
    .description
      font-family fontsStandartLight
      font-size 16px
      color whiteColorText
    &.block-mini
      max-width 1180px
      margin 0 auto
      padding 40px 65px 55px 60px

  {blockPrice}
    &--wrapp
      @extend {blockFlexStandart}
      justify-content space-between
      margin-bottom 25px
      overflow hidden
      &.full-height
      	height auto !important
    &--item
      @extend {standartTransition}
      -ms-transition-property padding
      -webkit-transition-property padding
      transition-property padding
      width calc(50% - 10px)
      padding 2px
      position relative
      z-index 1
      margin-top -2px
      &:nth-child(-n+2)
        margin-top 0
      &:before
        @extend {standartTransition}
        content ''
        position absolute
        z-index 1
        display block
        top 0
        left 0
        bottom 0
        right 0
        background -ms-linear-gradient(90deg,borderColorItem,borderColorItem)
        background -webkit-linear-gradient(90deg,borderColorItem,borderColorItem)
        background linear-gradient(90deg,borderColorItem,borderColorItem)
      .content
        &--wrap
          @extend {standartTransition}
          @extend {blockFlex}
          height 100%
          background whiteBg
          position relative
          z-index 2
          padding 20px 20px 20px 40px
          font-size 17px
          color colorItemCaption
          .description
            width calc(100% - 250px)
          .price
            @extend {standartTransition}
            width 250px
            padding-left 110px
            font-weight bold
            font-size 12px
            color rgba(colorTextBlack, 0.2)
            position relative
            text-transform uppercase
            -ms-transform translateX(0)
            -webkit-transform translateX(0)
            transform translateX(0)
            &:after,
            &:before
              @extend {iconSettings}
              @extend {standartTransition}
              content ''
              position absolute
              top 50%
              left 60px
              width 14px
              height 14px
              background-image url(../img/price--arrows.svg)
              -ms-transform translateY(-50%)
              -webkit-transform translateY(-50%)
              transform translateY(-50%)
              opacity 1
            &:before
              width 127px
              height 48px
              background-image: url(../img/services--arrows.png)
              opacity 0
              right 25px
              left auto
            .number
              font-size 26px
      &:hover
        padding 3px
        z-index 2
        .price
          color colorOrange
          padding-left 70px
          &:after
            opacity 0
          &:before
            opacity 1
        &:before
          background -ms-linear-gradient(125deg, colorGradient)
          background -webkit-linear-gradient(125deg, colorGradient)
          background linear-gradient(125deg, colorGradient)
        .content
          &--wrap
            padding 19px 19px 19px 39px

  .need
    &--list
      @extend {blockFlexStandart}
      justify-content space-around
    &--item
      width 27%
      .number
        font-weight bold
        font-size 24px
        color colorOrange
        margin-bottom 10px
      .content
        color rgba(whiteColorText, 0.6)
  .section-reviews
    overflow hidden
  
  {blockReviews}
    &--slider
      .slick-dots
        bottom -60px
        padding-right 28px
        li
          width 26px
          height 26px
          margin 0 1px
          button
            width 100%
            height 100%
            border 2px solid rgba(blackBg, 0)
            border-radius 50%
            padding 0
            &:before
              background rgba(blackBg, 0.1)
              position absolute
              border-radius 50%
              width 6px
              height 6px
              top 50%
              left 50%
              -ms-transform translate(-50%, -50%)
              -webkit-transform translate(-50%, -50%)
              transform translate(-50%, -50%)
              opacity 1
              font-size 0
          &.slick-active
            button
              border 2px solid rgba(blackBg, 0.1)
              &:before
                background colorOrange
      &.slick-slider
        margin 0 -20px 50px 0
        .slick-arrow
          @extend {iconSettings}
          width 115px
          height 27px
          background-image url(../img/slider--arrows-grey.svg)
          z-index 5
          left 0
          top auto
          bottom -60px
          right auto
          -webkit-transform translate(0, 0)
          -ms-transform translate(0, 0)
          transform translate(0, 0)
          &.slick-prev
            &:hover
              background-image url(../img/slider--arrows-leftOrange.svg)
          &.slick-next
            background-image url(../img/slider--arrows-active.svg)
            left auto
            right 20px
          &:before
            display none
    &--item
      @extend {standartTransition}
      position relative
      padding 3px
      width 50%
      margin-right 20px
      &:after
        @extend {standartTransition}
        content ''
        position absolute
        bottom 3px
        left 3px
        right 3px
        height 70px
        opacity 1
        z-index 3
        display block
        background -ms-linear-gradient(180deg, rgba(whiteBg,0.8), rgba(whiteBg,1) 50%)
        background -webkit-linear-gradient(180deg, rgba(whiteBg,0.8), rgba(whiteBg,1) 50%)
        background linear-gradient(180deg, rgba(whiteBg,0.8), rgba(whiteBg,1) 50%)
      &:before
        @extend {standartTransition}
        content ''
        position absolute
        z-index 1
        display block
        top 0
        left 0
        bottom 0
        right 0
        background -ms-linear-gradient(90deg,borderColorItem,borderColorItem)
        background -webkit-linear-gradient(90deg,borderColorItem,borderColorItem)
        background linear-gradient(90deg,borderColorItem,borderColorItem)
      .block--hidden
        @extend {blockFlex}
        @extend {standartTransition}
        justify-content space-between
        opacity 0
        position absolute
        bottom 0
        left 45px
        right 35px
        border-top 1px solid borderColorItem
        padding 30px 0 35px
        .assessment
          @extend {blockFlex}
          font-size 15px
          color rgba(colorItemCaption, 0.3)
          .text
            margin-right 15px
        .name
          font-weight bold
          font-size 18px
          text-transform uppercase
          color  colorItemCaption
      .content
        @extend {standartTransition}
        -ms-transform translateY(0px)
        -webkit-transform translateY(0px)
        transform translateY(0px)
        &--wrap
          @extend {standartTransition}
          height 100%
          width 100%
          background whiteBg
          position relative
          z-index 2
          padding 45px 35px 20px 45px
          height 386px
          overflow hidden
          .caption
            font-family fontsStandartSemibold
            font-size 20px
            color colorItemCaption
            line-height 1.2
            padding-right 60px
            margin-bottom 40px
            min-height 48px
      .list--performance
        @extend {blockFlex}
        @extend {standartTransition}
        border 1px solid borderColorItem
        border-width 1px 0
        opacity 1
        width 100%
        padding 25px 0 0
        margin-bottom 40px
        .item
          @extend {blockFlexStandart}
          -webkit-flex-wrap nowrap
          -ms-flex-wrap nowrap
          flex-wrap nowrap
          line-height 1
          width 47%
          padding-right 10px
          margin-bottom 10px
          min-height 55px
          .image
            width 40px
            height 40px
            margin-right 15px
          .text
            color rgba(colorItemCaption, 0.3)
            span
              margin-top 5px
              display block
              font-size 18px
              font-family fontsStandartSemibold
              color colorItemCaption
      &:hover
        .content
          -ms-transform translateY(-220px)
          -webkit-transform translateY(-220px)
          transform translateY(-220px)
        .block--hidden
          opacity 1
        .list--performance,
        &:after
          opacity 0
        &:before
          background -ms-linear-gradient(125deg, colorGradient)
          background -webkit-linear-gradient(125deg, colorGradient)
          background linear-gradient(125deg, colorGradient)
    &--description
      color colorText
      position relative
      overflow hidden
      max-height 220px
      .title
        font-size 17px
        font-family fontsStandartSemibold

  .section--auto
    {standartCaption}
      margin-bottom 15px

  {blockAuto}
    &--description
      text-align center
      max-width 580px
      margin 0 auto 50px
      font-family fontsStandartLight
      color colorItemCaption
    &--item
      .image
        padding 0 20px
        text-align center
        img
          @extend {standartTransition}
          opacity 0.3
          max-width 120px
          max-height 70px
          margin 0 auto
          &:hover
            opacity 1

  {blockStar}
    &--list
      @extend {blockFlexStandart}
      -webkit-flex-wrap nowrap
      -ms-flex-wrap nowrap
      flex-wrap nowrap
      .item
        @extend {iconSettings}
        width 16px
        height 16px
        background-image url(../img/star.svg)
        margin-right 5px
        &.active
          background-image: url(../img/star-active.svg)

  .social--link
    @extend {iconSettings}
    width 20px
    height 20px
    margin 0 10px 10px

  .vk
    background-image url(../img/vk-logo.png)

  {footer}
    &--wrapp
      @extend {blockFlex}
      -webkit-box-align flex-start
      -webkit-align-items flex-start
      -ms-flex-align flex-start
      align-items flex-start
      justify-content space-between
    &--subscription
      margin-top 50px
      padding 15px 0 5px
      background-color colorSubscribeBg
      .wrapp
        @extend {blockFlex}
        -webkit-box-align flex-start
        -webkit-align-items flex-start
        -ms-flex-align flex-start
        align-items flex-start
        .list--social
          display -webkit-box
          display -webkit-flex
          display -ms-flexbox
          display flex
        .item
          @extend {blockFlexStandart}
          width 33%
          font-family fontsStandartLight
          font-size 14px
          color rgba(whiteColorText, 0.2)
          &.left
            width 22%
            padding-right 10px
          &.center
            width 54%
            border 1px solid rgba(whiteColorText, 0.1)
            border-width 0 1px
            justify-content center
            padding 0 10px
          &.right
            width 24%
            justify-content flex-end
            padding-left 10px
    &--logo
      display -webkit-box
      display -webkit-flex
      display -ms-flexbox
      display flex
      .text
        font-size 14px
        color rgba(whiteColorText, 0.2)
        line-height 1.2
        width 95px
        margin-left 20px
    &--menuList
      @extend {blockFlexStandart}
      line-height 1
      justify-content space-between
      width 420px
      .item
        width 35%
        margin-bottom 15px
      .link
        font-family fontsStandartLight
        font-size 15px
        color rgba(whiteColorText, 0.9)

  {blockPopUp}
    &--list
      opacity 0
      pointer-events none
      z-index -10
      position fixed
      width 100vw
      height 100vh
      top 0
      left 0
      {standartCaption}
        margin-bottom 25px
      .block--input
        margin-bottom 15px
        label
          width 100%
          font-size 14px
          color colorText
          margin-bottom 5px
        input
          width 100%
          background borderColorItem
          font-size 15px
          color rgba(colorText, 0.3)
      .pop-up--button
        @extend {inputButtonStandart}
        margin 35px auto 0
        display block
        border none
        padding 0 40px
      .modal
        @extend {standartTransition}
        position absolute
        width 100%
        height 100%
        background blackBg
        opacity 0
      &.active
        opacity 1
        pointer-events auto
        z-index 100
        .modal
          opacity 0.6
    &--item
      opacity 0
      pointer-events none
      z-index -10
      max-width 572px
      max-height calc(100vh - 40px)
      overflow hidden
      width 100%
      padding 45px 60px 55px
      left 0
      right 0
      background whiteBg
      position absolute
      top 50%
      -ms-transform translateY(-50%)
      -webkit-transform translateY(-50%)
      transform translateY(-50%)
      box-shadow 1.69px 3.625px 12.09px 0.91px rgba(0, 0, 0, 0.26)
      margin 0 auto
      &.active
        opacity 1
        pointer-events auto
        z-index 10
    &--close
      @extend {iconSettings}
      position absolute
      top 8px
      right 8px
      width 17px
      height 17px
      padding 0
      margin 0
      background-image url(../img/pop-up--close.svg)
    &--accepted
      .content
        padding-top 30px
        .text--message
          text-align center

  .main-page-wrapper
    position relative

  .fixed-menu
    position fixed
    z-index 50
    top 50%
    -ms-transform translateY(-50%)
    -webkit-transform translateY(-50%)
    transform translateY(-50%)
    right 50px

  {sectionMenu}
    &--list
      list-style none
    .active-link-menu
      .sectionMenu--item
        border 2px solid colorOrange
        border-top-color rgba(colorOrange, 0)
        border-left-color rgba(colorOrange, 0)
        &:before
          opacity 1
    &--item
      @extend {standartTransition}
      width 30px
      height 30px
      display block
      border-radius 50%
      position relative
      border 2px solid rgba(colorOrange, 0)
      -ms-transform rotate(-45deg)
      -ms-transform rotate(-45deg)
      transform rotate(-45deg)
      &:hover
        border 2px solid colorOrange
        border-top-color rgba(colorOrange, 0)
        border-left-color rgba(colorOrange, 0)
        -ms-transform rotate(135deg)
        -ms-transform rotate(135deg)
        transform rotate(135deg)
      &:before
        @extend {standartTransition}
        content ''
        position absolute
        top 50%
        left 50%
        -ms-transform translate(-50%, -50%)
        -webkit-transform translate(-50%, -50%)
        transform translate(-50%, -50%)
        width 6px
        height 6px
        border-radius 50%
        background colorOrange
        opacity 0.3

  @media screen and (max-height: 700px)
    .section
      &--indexContent
        margin-top 100px

    .section
      &--index
        background-position 50% 28%

  @media screen and (max-height: 600px)
    .section
      &--index
        height auto

  @media screen and (max-width: 1200px)
    .fixed-menu
      display none

    {header}
      &--menuList
        .item
          margin-right 20px
      .logo
        margin-right 20px

    {blockPrice}
      &--item
        .content
          &--wrap
            .price
              width 200px
              padding-left 60px
              &:after
                left 10px
            .description
              width calc(100% - 200px)
        &:hover
          .content
            &--wrap
              .price
                padding-left 20px

  @media screen and (max-width: 1024px)
    {header}
      {standartButton}
        margin 0 auto
      .phone--info
        margin 0 0 15px
        .phone
          display inline-block
      &--infoWrap
        display block
      &--menuList
        display block
        margin-bottom 30px
        .item
          display block
          margin 0 0 20px
      &--wrap
        &-info
          display none
          padding 45px 20px 20px
          &.active
            display block
          .close
            display block
      &--mobileButton
        display block
    .section
      &--index
        height auto
        background-position 50% 28%
      &--indexContent
        margin-top 100px

    {servicesList}
      justify-content space-between
      &--item
        width calc(50% - 10px)
        &:nth-child(3n+2)
          margin-left 0
          margin-right 0

    {blockSlider}
      &--block
        .slick-arrow
          margin 0
          -webkit-transform translate(0,-50%)
          -ms-transform translate(0,-50%)
          transform translate(0,-50%)
          left 0
          &.slick-next
            margin 0
            left auto
            right 0

    {advantages}
      padding 0 20px

    {blockPrice}
      &--item
        width 100%
        &:nth-child(-n+2)
          margin-top -2px
        &:first-child
          margin-top 0

    {footer}
      &--menuList
        width 100%
        -ms-order 1
        -webkit-order 1
        order 1
        margin-top 30px
        .item
          width 25%
          text-align center
      &--subscription
        .wrapp
          .item
            &.left,
            &.right
              width 50%
              justify-content center
              text-align center
            &.center
              border none
              width 100%
              -ms-order 1
              -webkit-order 1
              order 1
              text-align center
              margin-top 10px

@media screen and (max-width: 768px)
    .section
      &--index
        height auto
        background-position 50% 140px

    {advantages}
      &:before
        display none
      &--icon
        position relative
        z-index 10
      &--item
        width 100%
        max-width 100%
        margin-bottom 15px
    {standartCaption}
      font-size 24px
      margin-bottom 25px

    {section}
      padding 50px 0 60px
      &.section--index
        padding 0

    {container}
      padding 0 10px

    body
      font-size 14px

    h1
      font-size 36px

    {servicesList}
      justify-content flex-start
      &--item
        width 100%

    {blockSlider}
      &--block
        .slick-arrow
          left -35px
          &.slick-next
            left auto
            right -35px
      &--item
        padding 20px 15px 30px
        .number
          font-size 160px
        .caption
          font-size 16px
        .text
          font-size 14px
        &.slick-slide
            margin 0

    {blockForm}
      .form--wrapp
        {inputTextStandart}
          width 100%
          margin-bottom 15px
        {inputButtonStandart}
          width auto
          margin 0 auto

    {blockPrice}
      &--item
        .content
          &--wrap
            font-size 15px
            padding 20px
            &:hover
              padding 19px

    .need
      &--item
        width 100%
        .number
          margin 10px 0

    {blockAuto}
      &--slider
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        -webkit-flex-wrap wrap
        -ms-flex-wrap wrap
        flex-wrap wrap
      &--item
        width 25%
        margin-bottom 15px

    {blockPopUp}
      &--item
        max-width calc(100vw - 40px)

    {footer}
      &--logo
        width 100%
        justify-content center
        margin-bottom 20px
      .phone--info
        margin 0 auto
      &--menuList
        .item
          width 50%
          text-align center
      &--subscription
          .wrapp
            .item
              &.left,
              &.right
                width 100%
                margin-bottom 10px

  @media screen and (max-width: 480px)
    {blockForm}
      &.block-mini
        padding 30px 30px 45px

    {blockAuto}
      &--item
        width 50%

    {blockPrice}
      &--item
        .content
          &--wrap
            .description
              width 100%
              margin-bottom 15px
            .price
              width 100%
              text-align right
              padding-right 0
        &:hover
          .content
            &--wrap
              .price
                padding-right 40px

    {blockPopUp}
      &--item
        padding 35px 20px 30px
      &--list
        .pop-up--button
          max-width 100%
          padding 0 15px

    {blockReviews}
      &--item
        .content
          &--wrap
            padding 15px
        .block--hidden
          left 15px
          right 15px
        .list--performance
          padding-top 10px
          margin-bottom 20px
          .item
            width 100%
            min-height 35px
            padding 0
            .image
              width 30px
              height 30px
            .text
              span
                font-size 16px
        &:hover
          .content
            -ms-transform translateY(-210px)
            -webkit-transform translateY(-210px)
            transform translateY(-210px)